server:
  port: 8000
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/blog?serverTimezone=Asia/Seoul
    username: admin
    password: admin1217

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update 
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      use-new-id-generator-mappings: false
    show-sql: true
    properties:
      hibernate.format_sql: true

  jackson:
    serialization:
      fail-on-empty-beans: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: gmail Id #인증메일을 보낼 gmail 입력
    password: gmail password #위 메일의 비밀번호 입력
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
ino:
  key: ino1217

file:
  path: C:/Users/InHo_H/Downloads/myblog (3)/upload/
